html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(124, 198, 180, 0.5);
  color: #000;
  width: 100%;
  height: 100%;
}

a {
  color: #000;
  margin: 0 25px;
}

a:hover {
  color: #334f7d;
}

#app .contacts {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 15px;
  right: 15px;
  font-size: 4rem;
  transition: font-size 0.2s;
}

#app .social {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 15px;
  font-size: 4rem;
  transition: font-size 0.2s;
}

#app .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app .content .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
}

#app .content .info img {
  width: 60%;
}

#app .content .info span {
  font-size: 1.5rem;
  margin-top: 40px;
}

#app .content .info div {
  font-size: 2rem;
  margin-top: 25px;
}

@media only screen and (max-width: 599px) {
  a {
    margin: 0 15px;
  }

  #app .contacts, #app .social {
    font-size: 2rem;
  }
}